<div class="container">
  <h1>Arbeitsbereiche</h1>

  <input type="text" class="search-bar" placeholder="Arbeitsbereich suchen...">

  <div id="arbeitsbereiche-container">
    <!-- Arbeitsbereiche werden hier dynamisch eingefügt -->
  @for(select of selection; track select.id){
      <div class="arbeitsbereich">
      <div class="arbeitsbereich-header">{{select.title}}</div>
      <div class="arbeitsbereich-details">
        <span class="claimed">Claimed: {{select.claimed}}</span>
        <span class="unclaimed">Unclaimed: {{select.unclaimed}}</span>
        <span class="total">Ges: {{select.ges}}</span>
      </div>
    </div>
    }
  
  <div class="gesamt-summen">
    <span class="gesamt-item">Ges. Unclaimed: {{totals.unclaimed}}</span>
    <span class="gesamt-item">Ges. Claimed: {{totals.claimed}}</span>
    <span class="gesamt-item">Ges. Gutscheine: {{totals.gutscheine}}</span>
  </div>
</div>